* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



/*  */

.main {
    width: 100%;
    padding: 0px;
    display: inline;
}

.content-name h2 {
    color: rgba(255, 153, 0, 1);
    font-weight: 700;
}

.content-name img {
    max-width: 222px;
    height: 80px;
    display: inline;
    line-height: 25px;
    margin: 0px 0px 20px;
}

.content22 {
    width: 550px;
    height: 20px;
    font-weight: 600;
}

#post {
    width: 80%;
    height: auto;
    margin: 30px;
}

.button-fromt {
    width: 131px;
    height: 42px;
    align-items: center;
    box-shadow: #000000 0px 0px 0px 0px;
    color: #3e3e3e;
    display: inline-flex;
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 18px;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
}

.h2chiduong {
    width: 550px;
    height: 30px;
    color: #242424;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    margin: 0px 0px 20px;
}



/* footer */
